
<h1>Buscador películas<h1><br>
</form>
<form method="POST" action="/">
   Title: <input type="text" name="title" placeholder="Search by title"><br>  
   <input type="submit" value="Search">
</form><br><br>

<form method="POST" action="/search">
   Title: <input type="text" name="title" ><br>  
   Phrase to find: <input type="text" name="find"><br>
   Phrase to replace<input type="text" name="replace"><br>
   <input type="submit" value="Find and Replace">
</form>
</body>